.card {
    font-weight: 600;
    font-size: 1.8em;
    text-align: center;
    background: #ff4d4f;
    border-radius: 15px;
    padding: 36px 10px 10px;
    width: 95%;
    margin: auto auto 24px;
    color: white !important;
}

.card-title {
    margin-top: 10px;
    color: white !important;
    height: 55px;
}

.card-status {
    margin: 0.2em 0 0.3em !important;
    font-size: 2.4em !important;
    color: white !important;
}

.new-status-text {
    font-size: 0.6em;
}

.status-data {
    height: 50px;
}


.ant-card-head {
    background: #d2d2d2;
}

.ant-card-bordered {
    border: 1px solid #dadada;
}

.ant-card-body {
    background: #f1f1f1;
}
