.district-card {
    padding: 10px;
    text-align: center;
    background: #f1f1f1;
    border-radius: 10px;
    border: 1px solid #dadada;
    width: 95%;
    margin: auto auto 10px;
}

.district-list {
    width: 95%;
    margin: auto auto 20px;
}

.province > .district-item:last-child {
    margin: auto auto 40px;
}

.district-name {
    font-size: 1.2em;
    font-weight: 500;
}

.district-value {
    font-size: 1.4em;
    font-weight: 600;
}

.opacity {
    opacity: 0.4;
}
.province-title {
    width: 100%;
    margin: 0 0 20px;
}

.province-title span {
    font-size: 1.1em;
    padding: 6px 15px;
    margin-bottom: 10px;
    background: #52c41a;
    font-weight: 500;
    border-radius: 10px;
}

.other-count {
    padding: 5px 20px;
    background: rgba(66, 66, 66, 0.85);
    color: white;
    margin-right: 5px;
    font-size: 1.2em;
    border-radius: 15px;
}

.other-text {
    font-size: 1.2em;
    font-weight: 600;
}

.other-area {
    height: 50px;
    margin-bottom: 20px;
}
